{% extends 'base.html' %}
{% load static %}

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">CoLearn</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
             aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span> 
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a href="{% url 'users:dashboard' %}" class="nav-link active" aria-current="page">Dashboard</a>
                    <a href="{% url 'users:profile' %}" class="nav-link">Profile</a>
                    <a href="{% url 'users:logout' %}" class="nav-link">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>