{% block content %}

<head>
  <script src="https://getbootstrap.com/docs/5.3/assets/js/color-modes.js"></script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content=""/>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sidebars/"/>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3"/>

  <link
    href="https://getbootstrap.com/docs/5.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"/>

  <!-- Favicons -->
  <link
    rel="apple-touch-icon"
    href="https://getbootstrap.com/docs/5.3/assets/img/favicons/apple-touch-icon.png"
    sizes="180x180"
  />
  <link
    rel="icon"
    href="https://getbootstrap.com/docs/5.3/assets/img/favicons/favicon-32x32.png"
    sizes="32x32"
    type="image/png"
  />
  <link
    rel="icon"
    href="https://getbootstrap.com/docs/5.3/assets/img/favicons/favicon-16x16.png"
    sizes="16x16"
    type="image/png"
  />
  <link
    rel="manifest"
    href="https://getbootstrap.com/docs/5.3/assets/img/favicons/manifest.json"
  />
  <link
    rel="mask-icon"
    href="https://getbootstrap.com/docs/5.3/assets/img/favicons/safari-pinned-tab.svg"
    color="#712cf9"
  />
  <link
    rel="icon"
    href="https://getbootstrap.com/docs/5.3/assets/img/favicons/favicon.ico"
  />
  <meta name="theme-color" content="#712cf9" />



  <!-- Custom styles for this template -->
  <link href="https://getbootstrap.com/sidebars.css" rel="stylesheet" />
</head>
<body>


  <!-- Menu -->
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px; height: 100vh">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32">
        <use xlink:href="#bootstrap" />
      </svg>
      <span class="fs-4">Co-Learn</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#home" />
          </svg>
          Dashboard
        </a>
      </li>
      <li>
        <a href="/mata-kuliah" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#speedometer2" />
          </svg>
          Mata Kuliah
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#table" />
          </svg>
          Forum
        </a>
      </li>
      <li>
        <a href="/kuis" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#grid" />
          </svg>
          Kuis
        </a>
      </li>
    </ul>
    <hr />
    <div class="dropdown">
      <a
        href="#"
        class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://github.com/mdo.png"
          alt=""
          width="32"
          height="32"
          class="rounded-circle me-2"
        />
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>

  <script src="https://getbootstrap.com/sidebars.js"></script>
  <script
    src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>
{% endblock %}