{% extends 'base.html' %}

{% block title %}College Learning{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{% block content %}
<div class="container-fluid">
    <div class="row text-center">
      <div class="col">
          <div class="card bg-primary text-white">
              <div class="card-title">
                  <h1 class="mb-0">MATA KULIAH</h1>
              </div>
          </div>
      </div>
    </div>
    <div class="row my-2">
      {% for course in courses %}
      <div class="col-md-4 my-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ course.title }}</h5>
            <p class="card-text">
              {{ course.instructor.first_name }} {{ course.instructor.last_name }}
            </p>
          </div>
          <div class="card-footer d-grid gap-2">                                    
            <a href="{% url 'courses:mata-kuliah-detail' course.id %}" class="btn btn-primary">Akses Kuliah</a>
          </div>        
        </div>
      </div>
      {% endfor %}
    </div>
</div>

{% endblock %}