{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Co-Learn | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}" />
    <script src="{% static 'users/js/login.js' %}"></script>
  </head> 

  <body>
    <div class="container" id="login-form">
      <h2 class="mb-0">Login</h2>
      <form method="post">
        <div class="imgcontainer">
          <img
            src="{% static 'img/colearn.png' %}"
            alt="Avatar"
            class="avatar"
          />
        </div>

        {% csrf_token %} 
        {{ form.as_p }}

        <button type="submit" value="login">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember" /> Remember me
        </label>
      </form>
      <button id="register-btn" onclick="location.href='{% url 'users:register' %}';">Belum mempunyai akun? Daftar</button>
    </div>
  </body>
</html>
