{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Login and Signup Form Responsive Widget Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}" />
    <script src="{% static 'users/js/login.js' %}"></script>
  </head> 

  <body>
    <div class="container" id="login-form">
      <h2>Login Form</h2>
      <form method="post">
        <div class="imgcontainer">
          <img
            src="https://www.w3schools.com/howto/img_avatar2.png"
            alt="Avatar"
            class="avatar"
          />
        </div>

        {% csrf_token %} 
        {{ form.as_p }} 

        <!-- <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required />

        <label for="psw"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="psw"
          required
        /> -->

        <button type="submit" value="login">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember" /> Remember me
        </label>
      </form>
      <button id="register-btn" onclick="location.href='../register';">Don't have an account? Register</button>
    </div>
  </body>
</html>
