<!-- Contoh perubahan pada template -->
<!-- ... -->
<div class="container-fluid">
  <div class="row text-center">
      <div class="col">
          <div class="card bg-primary text-white">
              <h1 class="mb-0">College Learning</h1>
          </div>        
      </div>
  </div>
  <!-- ... -->
  <div class="row">
      <!-- belajar -->
      <div class="col-lg-8">
        <!-- ringkasan belajar -->
        <div class="row text-center">
          <!-- jumlah materi -->
          <div class="col-md-3 my-2">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Materi</h5>
                      <p class="card-text">10/20</p>
                  </div>
              </div>
          </div>
          <!-- ... (lakukan hal yang sama untuk elemen lain) ... -->
        </div>
        <!-- statistik belajar -->
        <div class="row">
          <div class="col">
              <div class="card">
                  <h5 class="card-header bg-info text-white">Statistik Belajar</h5>
                  <div class="card-body">
                    <canvas id="myChart"></canvas>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <!-- profil pengguna -->
      <div class="col-lg-4">
        <!-- profil/biodata -->
        <div class="row text-center">
          <div class="col-md-12 my-2">
              <div class="card">                
                  <div class="card-body">
                      <h5 class="card-title">Profil Pengguna</h5>
                      <img 
                          src="link-gambar"
                          alt="Ini foto profil"
                          class="rounded-circle img-fluid"
                          height="100"
                      >
                  </div>
                  <!-- biodata -->
                  <div class="card-body">
                      <table class="table table-sm">
                          <!-- ... (data biodata) ... -->
                      </table>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
  <!-- ... -->
</div>
<!-- ... -->
